@import "./index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-width: theme('spacing.container');
  --header-height: 91px;

  --text-default: theme('colors.green');
  --text-default-inverted: theme('colors.white.1');
  --background-default-1: theme('colors.white.1');
  --background-default-1-inverted: theme('colors.black.1');
  --accent-color: theme('colors.green');
  --accent-color-inverted: theme('colors.white.2');
  --accent-green: theme('colors.green');
  --background-accent: theme('colors.white.2');
  --background-accent-inverted: theme('colors.green');
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-default: theme('colors.white.1');
    --text-default-inverted: theme('colors.green');
    --background-default-1: theme('colors.black.1');
    --background-default-1-inverted: theme('colors.white.1');
    --accent-color: theme('colors.white.2');
    --accent-color-inverted: theme('colors.green');
    --accent-green: theme('colors.green-light');
    --background-accent: theme('colors.green');
    --background-accent-inverted: theme('colors.white.2');
  }
}

.light{
  --text-default: theme('colors.green');
  --text-default-inverted: theme('colors.white.1');
  --background-default-1: theme('colors.white.1');
  --background-default-1-inverted: theme('colors.black.1');
  --accent-color: theme('colors.green');
  --accent-color-inverted: theme('colors.white.2');
  --accent-green: theme('colors.green');
  --background-accent: theme('colors.white.2');
  --background-accent-inverted: theme('colors.green');
}

.dark {
  --text-default: theme('colors.white.1');
  --text-default-inverted: theme('colors.green');
  --background-default-1: theme('colors.black.1');
  --background-default-1-inverted: theme('colors.white.1');
  --accent-color: theme('colors.white.2');
  --accent-color-inverted: theme('colors.green');
  --accent-green: theme('colors.green-light');
  --background-accent: theme('colors.green');
  --background-accent-inverted: theme('colors.white.2');
}

@layer base {
  html {
    @apply snap-y snap-mandatory;
    @apply scroll-pt-24;
    @apply scroll-smooth;
  }

  body {
    @apply relative flex flex-col min-h-screen hyphens-auto font-encode bg-default text-default text-balance;
  }

  .main {
    @apply flex-[1_0_auto];

    section {
      @apply snap-start snap-always h-section-height;
    }
  }

  .footer {
    @apply snap-start snap-always;
  }

  .container {
    @apply max-w-container mx-auto px-4 2xl:px-0;
  }
  .module-margin {
    @apply mb-8;
  }

  .hamburger-react {
    & * {
      transition-property: transform !important;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
