@import "./index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-width: theme('spacing.container');
  --header-height: 91px;
  --footer-height: 306px;

  --text-default: theme('colors.green');
  --text-default-inverted: theme('colors.white.1');
  --background-default-1: theme('colors.white.1');
  --background-default-1-inverted: theme('colors.black.1');
  --accent-color: theme('colors.green');
  --accent-color-inverted: theme('colors.white.2');
  --accent-green: theme('colors.green');
  --background-accent: theme('colors.white.2');
  --background-accent-inverted: theme('colors.green');
  --button-text-color: theme('colors.white.1');
  --button-text-color-hover: theme('colors.white.1');
  --button-bg-color: theme('colors.green');
  --button-bg-color-hover: theme('colors.green-light');
  --form-text-color: theme('colors.white.1');
  --form-placeholder-color: theme('colors.gray.300');
  --form-bg-color: theme('colors.white.1');
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-default: theme('colors.white.1');
    --text-default-inverted: theme('colors.green');
    --background-default-1: theme('colors.black.1');
    --background-default-1-inverted: theme('colors.white.1');
    --accent-color: theme('colors.white.2');
    --accent-color-inverted: theme('colors.green');
    --accent-green: theme('colors.green-light');
    --background-accent: theme('colors.green');
    --background-accent-inverted: theme('colors.white.2');
    --form-text-color: theme('colors.black.1');
    --form-placeholder-color: theme('colors.gray.400');
    --form-bg-color: theme('colors.white.1');
  }
}

.light{
  --text-default: theme('colors.green');
  --text-default-inverted: theme('colors.white.1');
  --background-default-1: theme('colors.white.1');
  --background-default-1-inverted: theme('colors.black.1');
  --accent-color: theme('colors.green');
  --accent-color-inverted: theme('colors.white.2');
  --accent-green: theme('colors.green');
  --background-accent: theme('colors.white.2');
  --background-accent-inverted: theme('colors.green');
  --form-text-color: theme('colors.green');
  --form-placeholder-color: theme('colors.gray.300');
  --form-bg-color: theme('colors.white.1');
}

.dark {
  --text-default: theme('colors.white.1');
  --text-default-inverted: theme('colors.green');
  --background-default-1: theme('colors.black.1');
  --background-default-1-inverted: theme('colors.white.1');
  --accent-color: theme('colors.white.2');
  --accent-color-inverted: theme('colors.green');
  --accent-green: theme('colors.green-light');
  --background-accent: theme('colors.green');
  --background-accent-inverted: theme('colors.white.2');
  --form-text-color: theme('colors.green');
  --form-placeholder-color: theme('colors.gray.400');
  --form-bg-color: theme('colors.white.1');
}

@layer base {
  html {
    @apply md:snap-y md:snap-mandatory;
    @apply scroll-pt-24;
    @apply scroll-smooth;
  }

  body {
    @apply relative flex flex-col min-h-screen font-encode bg-default text-default text-balance;
  }

  .main {
    @apply flex-[1_0_auto];

    section:not(#careerSection) {
      @apply md:snap-start md:snap-always md:min-h-section-height md:h-section-height;
    }

    #stageSection {
      @apply min-h-section-height;
    }

    #careerSection {
        @apply snap-center min-h-section-height;
    }
  }

  .footer {
    @apply snap-start snap-always;
  }

  .container {
    @apply max-w-container mx-auto px-4 2xl:px-0;
  }
  .module-margin {
    @apply mb-8;
  }

  .hamburger-react {
    & * {
      transition-property: transform !important;
    }
  }

  .section-illu {
    @apply max-w-sm sm:max-w-md lg:max-w-full;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*@layer components {
  #careerSection {
    @screen md {
      height: calc(100vh - var(--header-height) - var(--footer-height));
      min-height: calc(100vh - var(--header-height) - var(--footer-height));
    }
  }
}*/
